.help {
  padding: 1.5rem 2.2rem;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  text-decoration: none;
}

.help a {
  text-decoration: none;
  color: black;
}
